* {
  box-sizing: border-box;
}

body {
  background: #2c3e50;
  color: #ecf0f1;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 992px;
  padding: 20px;
  text-align: center;
}

button {
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  background: #fff;
  color: #7f8c8d;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 20px auto;
  padding: 10px 20px;
  transition: .5s;
}

button:hover {
  background: #ecf0f1;
}

input {
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  max-width: 100%;
  padding: 10px;
  width: 500px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  line-height: 2;
}

.flag {
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
